.controls{
    height: 30px;
}
.control-btn{
    border: 1px solid gray;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}

.content{
    
}
.content .screen{
    border: 1px solid gray;
}
.content .info{
    
}
.inhabitant {
    position: absolute;
    width: 2px;
    height: 2px;
    margin-left: -1px;
    margin-top: -1px;
    border: 1px solid red;
    border-radius: 2px;
}
.inhabitant.opaque {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    border: 0px solid red;
    background: red;
    opacity: 0.1;
    border-radius: 20px;
}
.inhabitant.big {
    position: absolute;
    width: 4px;
    height: 4px;
    margin-left: -2px;
    margin-top: -2px;
    border: 2px solid red;
    border-radius: 4px;
}
.inhabitant.small {
    position: absolute;
    width: 1px;
    height: 1px;
    margin-left: 0px;
    margin-top: 0px;
    border: 1px solid red;
    border-radius: 1px;
}


/*black skin*/
body.black{
    background-color: black;
}
body.black .inhabitant {
    background: #7dff1b;
}
body.black .control-btn {
    color: white;
}